**Section A â€” Loading the Dataset**

In this section, the Air Quality dataset is loaded into a Pandas DataFrame. <br>
The dataset comes from the UCI Machine Learning Repository ([link](https://archive.ics.uci.edu/dataset/360/air+quality)).<br>
It contains hourly measurements of pollutants and sensor responses recorded in an Italian city.

The data is stored in a CSV file with semicolon (;) separators, and missing values are encoded as -200, which will be handled during the preprocessing stage. Also the last rows are empty, so they would be displayed as NaN, the same thing with the last 2 columns

In [1]:
import pandas as pd

df = pd.read_csv("dataset/AirQualityUCI.csv", sep=';')

df.head

<bound method NDFrame.head of             Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9466         NaN       NaN    NaN          NaN       NaN      NaN
9467         NaN       NaN    NaN          NaN       NaN      NaN
9468         NaN       NaN    NaN          NaN       NaN      NaN
9469         NaN       NaN    NaN          NaN       NaN      NaN
9470         NaN       NaN    NaN          NaN       NaN      NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13,6  48,9  0,7578          NaN          NaN
1           972.0  13,3  47,7  0,7255          NaN          NaN
2          1074.0  11,9  54,0  0,7502          NaN          NaN
3          1203.0  11,0  60,0  0,7867          NaN          NaN
4          1110.0  11,2  59,6  0,7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]>

*Dataset Information*

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB